.welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: solid 1px #cdcdcd;
}

.welcome-text {
    border-right: solid 1px #cdcdcd;
    padding-right: 75px;
}

.sections {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #f0f9f0;
}

.sections h2 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 24px;
    border-bottom: solid 1px #cdcdcd;
}

.sections p {
    margin: 0;
    padding-top: 10px;
}

.section-1 {
    max-width: 70%;
    padding-right: 15px;
}

.section-2 {
    padding-left: 15px;
    
}