.welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: solid 1px #cdcdcd;
}

.welcome-text {
    border-right: solid 1px #cdcdcd;
    padding-right: 75px;
}

.sections {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.sections h2 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 24px;
    border-bottom: solid 1px #cdcdcd;
    background-color: white;
}

.sections p {
    margin: 0;
    padding: 10px;
}

.section-1 {
    max-width: 70%;
    width: 50%;
    margin-right: 3px;
}

.section-2 {
    width: 50%;
}

.fundo-verde {
    background-color: rgb(240, 250, 240);
}

.fundo-azul {
    background-color: #f0f0f9;
}

.fundo-amarelo {
    background-color: #f9f4e9;
}